<div id="<%= dom_id survey %>">
  <p>
    <strong>Name:</strong>
    <%= survey.name %>
  </p>

  <p>
    <strong>Laptop:</strong>
    <%= survey.laptop %>
  </p>

  <p>
    <strong>Os:</strong>
    <%= survey.os %>
  </p>

</div>
