<p style="color: green"><%= notice %></p>

<h1>Surveys</h1>

<div id="surveys" class="table" table-striped>
  <% @surveys.each do |survey| %>
    <%= render survey %>
    <p>
      <%= link_to "Show this survey", survey %>
    </p>
  <% end %>
</div>

<%= link_to "New survey", new_survey_path %>
